<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Nunito Sans Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Frogot Password mail Template</title>
    <style>
      body { font-family: 'Nunito Sans', sans-serif; padding: 25px; }
      .text-center { text-align: center; }
    </style>
  </head>

  <body>
    <div
      style="width: 400px; max-width: 100%; min-width: 250px;margin: auto; background-color: #eceef0;border-radius: 5px;"
    >
      <div
        class="text-center"
        style="background-color: #ADD8E6;border-top-right-radius: 5px;border-top-left-radius: 5px;padding: 16px"
      >
        <img height="100" width="auto" src="{{logo}}" />
      </div>
      <div class="text-center" style="margin-bottom: 16px;">
        {{!-- <img height="200" src="{{bg_image}}"> --}}
      </div>
      <div style="padding: 16px;">
        <h1 class="text-center">Forgot Your Password?</h1>
        <p class="text-center" style="color: #6c757d;">We cannot simply send you
          your old password. A unique link to reset your password has been
          generated for you. To reset your password, click the following link
          and use the below OTP Pin.</p>
        <div class="text-center">
          <a
            style="background-color: #ee495e;color: #ffffff; border: none;border-radius: 5px;padding: 7px 16px;"
            href="{{domain_name}}"
          >Reset Password</a>
        </div>
        <div
          class="text-center"
          style="font-size: 20px; font-weight: bold;margin: 20px 0;"
        >OTP : <span style="color: #ee495e;">{{otp}}</span></div>
        <div class="text-center" style="margin-bottom: 16px;">
          {{!-- <img height="75" width="auto" src="{{fg_image}}"> --}}
        </div>
        <p class="text-center" style="color: #6c757d;"><small>&copy; 20–22
            Jewel Stock.</small></p>
      </div>
    </div>
  </body>

</html>
